$bg-color-main-body: lightblue;
$fg-color-main-body: black;
$bg-color-main-panel: skyblue;
$fg-color-location: maroon;
$fg-color-sign: gold;
$fg-warning-color: red;
$font-size-location: 18pt;
$border-color: gray;
